{% extends 'Inicio/plantMain.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'Inicio/css/estilo-index.css' %}">
{% endblock css %}

{% block imagen %}
<div class="img-hd">
    <div class="logo-img"><img class="img-fluid" src="{% static 'Inicio/img/logo/logo1.png' %}"></div>
    <div class="">
    </div>

</div>
{% endblock imagen %}

{% block contenido %}
<section class="compsyper">
    <div class="container">
        <h1 class="text-break">Acá podrás encontrar lo mejor para poder armar tu setup 	&#128293;</h1>
        <h2>Periféricos para la bestia &#9889;</h2>
        <div class="row align-items-center">
            <div class="col-xl-4 col-md-6 col-sm-12">
                <article class="caja">
                    
                    {% if usuario %}
                        <a href="{% url 'mostrarMic' usuario.username %}"><img src="{% static 'Inicio/img/img-index/microfono.jpg' %}" alt="microfono gamer" class="img-fluid" id="img"></a>
                        <p class="txtcaja">MICRÓFONOS</p>
                    {% else %}
                        <a href="{% url 'iniciar' %}"><img src="{% static 'Inicio/img/img-index/microfono.jpg' %}" alt="microfono gamer" class="img-fluid" id="img"></a>
                        <p class="txtcaja">MICRÓFONOS</p>
                        
                    {% endif %}
                </article>
            </div>
            <div class="col-xl-4 col-md-6 col-sm-12">
                <article class="caja">
                    {%if usuario %}
                    <a href="{% url 'teclados'  usuario.username %}"><img src="{% static 'Inicio/img/img-index/teclado.jpg' %}" alt="teclado gamer" class="img-fluid" id="img"></a>
                    <p class="txtcaja"> TECLADOS</p>
                    {%else%}
                    <a href="{% url 'iniciar' %}"><img src="{% static 'Inicio/img/img-index/teclado.jpg' %}" alt="teclado gamer" class="img-fluid" id="img"></a>
                    <p class="txtcaja"> TECLADOS</p>
                    {%endif%}
                </article>
            </div>
            <div class="col-xl-4 col-md-12 col-sm-12">
                <article class="caja">
                    {%if usuario%}
                    <a href="{% url 'mostrarMouse' usuario.username %}"><img src="{% static 'Inicio/img/img-index/mouse.jpg' %}" alt="mouse gamer" class="img-fluid" id="img"></a>
                    <p class="txtcaja"> MOUSE GAMER</p>
                    {%else%}
                    <a href="{% url 'iniciar' %}"><img src="{% static 'Inicio/img/img-index/mouse.jpg' %}" alt="mouse gamer" class="img-fluid" id="img"></a>
                    <p class="txtcaja"> MOUSE GAMER</p>
                    {%endif%}

                </article>
            </div>
            
        </div>
    </div>
</section>    
<section class="compsyper">
    
    <div class="container">
        <h2>Componentes para armar a la bestia &#129409;</h2>
        <div class="row align-items-center">
            <div class="col-xl-4 col-md-6 col-sm-12">
                <article class="caja">
                    {%if usuario %}
                        <a href="{% url 'mostrarGrafica' usuario.username  %}"><img src="{% static 'Inicio/img/img-index/grafica.png' %}" alt="tarjeta grafica" class="img-fluid" id="img"></a>
                        <p class="txtcaja"> TARJETAS GRÁFICAS</p>
                    {%else%}
                        <a href="{% url 'iniciar' %}"><img src="{% static 'Inicio/img/img-index/grafica.png' %}" alt="tarjeta grafica" class="img-fluid" id="img"></a>
                        <p class="txtcaja"> TARJETAS GRÁFICAS</p>
                    {%endif%}
                </article>
            </div>
            <div class="col-xl-4 col-md-6 col-sm-12">
                <article class="caja">
                    {%if usuario %}
                        <a href="{% url 'mostrarProcesador' usuario.username  %}"><img src="{% static 'Inicio/img/img-index/procesador.jpg' %}" alt="tarjeta grafica" class="img-fluid" id="img"></a>
                        <p class="txtcaja"> PROCESADORES</p>
                    {%else%}
                        <a href="{% url 'iniciar' %}"><img src="{% static 'Inicio/img/img-index/procesador.jpg' %}" alt="tarjeta grafica" class="img-fluid" id="img"></a>
                        <p class="txtcaja"> PROCESADORES</p>
                    {%endif%}
                </article>
            </div>
            <div class="col-xl-4 col-md-12 col-sm-12">
                <article class="caja">
                    {%if usuario%}
                    <a href="{% url 'mostrarRam' usuario.username%}"><img src="{% static 'Inicio/img/img-index/rampc.jpg' %}" alt="trident z rgb" class="img-fluid" id="img"></a>
                    <p class="txtcaja">MEMORIAS</p>
                    {%else%}
                    <a href="{% url 'iniciar' %}"><img src="{% static 'Inicio/img/img-index/rampc.jpg' %}" alt="trident z rgb" class="img-fluid" id="img"></a>
                    <p class="txtcaja">MEMORIAS</p>
                    {%endif%}
                </article>
            </div>
            
        </div>
    </div>
</section>
<section class="compsyper mt-5 mb-5">
    <div class="container">
        <h2>Información Externa (Consumo API REST) &#127760;</h2>
        <div id="api-content" class="row">
            <p>Cargando información desde servicio web público...</p>
        </div>
    </div>
</section>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Consumir API pública
        fetch('https://jsonplaceholder.typicode.com/users')
            .then(response => response.json())
            .then(data => {
                const apiContent = document.getElementById('api-content');
                apiContent.innerHTML = '';
                
                data.slice(0, 3).forEach(user => {
                    const userCard = `
                        <div class="col-md-4">
                            <div class="card mb-3" style="background-color: #222; color: #fff;">
                                <div class="card-body">
                                    <h5 class="card-title" style="color: #00d2ff;">${user.name}</h5>
                                    <p class="card-text">Email: ${user.email}</p>
                                    <p class="card-text">Empresa: ${user.company.name}</p>
                                </div>
                            </div>
                        </div>
                    `;
                    apiContent.innerHTML += userCard;
                });
            })
            .catch(error => {
                console.error('Error al consumir la API:', error);
                document.getElementById('api-content').innerHTML = '<p style="color:red;">Error al cargar la información.</p>';
            });
    });
</script>
{% endblock contenido %}
    







<!-- 01001000 01101111 01101100 01100001 00100000 01001101 01110101 01101110 01100100 01101111 00100001 -->